<aside class="dashboard-settings__aside">
	<h2 class="dashboard-settings__aside-header">
		<i class="fa fa-cog"></i>
		설정
	</h2>

	<a href="{{::section.url}}" class="dashboard-settings__nav-item" ng-class="{active: ctrl.viewId === section.id}" ng-repeat="section in ctrl.sections">
    <i class="{{::section.icon}}"></i>
		{{::section.title}}
	</a>

	<div class="dashboard-settings__aside-actions">
    <button class="btn btn-success" ng-click="ctrl.saveDashboard()" ng-show="ctrl.canSave">
			<i class="fa fa-save"></i> 저장
		</button>
		<button class="btn btn-inverse" ng-click="ctrl.openSaveAsModal()" ng-show="ctrl.canSaveAs">
			<i class="fa fa-copy"></i>
			다른이름저장...
		</button>
		<button class="btn btn-danger" ng-click="ctrl.deleteDashboard()" ng-show="ctrl.canDelete">
			<i class="fa fa-trash"></i>
			삭제
		</button>
	</div>
</aside>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'settings'">
	<h3 class="dashboard-settings__header">
		일반
	</h3>

	<div class="gf-form-group">
		<div class="gf-form">
			<label class="gf-form-label width-7">이름</label>
			<input type="text" class="gf-form-input width-30" ng-model='ctrl.dashboard.title'></input>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-7">설명</label>
			<input type="text" class="gf-form-input width-30" ng-model='ctrl.dashboard.description'></input>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-7">
				태그
				<info-popover mode="right-normal">태그를 추가하세요.</info-popover>
			</label>
			<bootstrap-tagsinput ng-model="ctrl.dashboard.tags" tagclass="label label-tag" placeholder="태그 추가">
			</bootstrap-tagsinput>
		</div>
		<folder-picker initial-title="ctrl.dashboard.meta.folderTitle"
									 initial-folder-id="ctrl.dashboard.meta.folderId"
									 on-change="ctrl.onFolderChange($folder)"
									 enable-create-new="true"
									 is-valid-selection="true"
									 label-class="width-7">
		</folder-picker>
		<gf-form-switch class="gf-form" label="수정가능" tooltip="체크를 하지 않으면 모든 대쉬보드의 수정이 되지 않습니다." checked="ctrl.dashboard.editable" label-class="width-7">
		</gf-form-switch>
	</div>

	<gf-time-picker-settings dashboard="ctrl.dashboard"></gf-time-picker-settings>

	<h5 class="section-heading">패널 옵션</h5>
	<div class="gf-form">
		<label class="gf-form-label width-11">
			그래프 툴팁
			<info-popover mode="right-normal">
				단축키를 사용한 사이클 : CTRL+O or CMD+O
			</info-popover>
		</label>
		<div class="gf-form-select-wrapper">
			<select ng-model="ctrl.dashboard.graphTooltip" class='gf-form-input' ng-options="f.value as f.text for f in [{value: 0, text: 'Default'}, {value: 1, text: 'Shared crosshair'},{value: 2, text: 'Shared Tooltip'}]"></select>
		</div>
	</div>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'annotations'" ng-include="'public/app/features/annotations/partials/editor.html'">
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'templating'"  ng-include="'public/app/features/templating/partials/editor.html'">
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'links'" >
	<dash-links-editor dashboard="ctrl.dashboard"></dash-links-editor>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'versions'" >
	<gf-dashboard-history dashboard="dashboard"></gf-dashboard-history>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'dashboard_json'" >
	<h3 class="dashboard-settings__header">JSON 모델</h3>
  <div class="dashboard-settings__subheader">
    아래의 JSON 구조는 대쉬보드의 구조를 정의합니다.
  </div>

	<div class="gf-form">
		<code-editor content="ctrl.json" data-mode="json" data-max-lines=30 ></code-editor>
	</div>

  <div class="gf-form-button-row">
    <button class="btn btn-success" ng-click="ctrl.saveDashboardJson()" ng-show="ctrl.canSave">
      <i class="fa fa-save"></i> 변경 저장
    </button>
  </div>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'permissions'" >
  <dashboard-permissions ng-if="ctrl.dashboard && !ctrl.hasUnsavedFolderChange"
    dashboardId="ctrl.dashboard.id"
    backendSrv="ctrl.backendSrv"
    folder="ctrl.getFolder()"
  />
  <div ng-if="ctrl.hasUnsavedFolderChange">
    <h5>폴더가 변경되었습니다., 보기 권한을 변경하여 주십시오.</h5>
  </div>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === '404'">
  <h3 class="dashboard-settings__header">보기 설정을 찾을 수 없습니다</h3>

  <div>
    <h5>설정 페이지를 찾을 수 없거나 보기 권한이 없습니다.</h5>
  </div>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'make_editable'">
  <h3 class="dashboard-settings__header">수정가능하도록 변경</h3>

  <button class="btn btn-success" ng-click="ctrl.makeEditable()">
    수정 가능
  </button>
</div>

