<div ng-controller="VariableEditorCtrl" ng-init="init()">

	<h3 class="dashboard-settings__header">
		<a ng-click="setMode('list')">변수들</a>
		<span ng-show="mode === 'new'">&gt; 신규</span>
		<span ng-show="mode === 'edit'">&gt; 수정</span>
	</h3>

	<div ng-if="mode === 'list'">

		<div ng-if="variables.length === 0">
			<div class="empty-list-cta">
				<div class="empty-list-cta__title">아직 추가된 변수가 없습니다.</div>
				<a ng-click="setMode('new')" class="empty-list-cta__button btn btn-xlarge btn-success">
					<i class="gicon gicon-add-variable"></i>
					변수 추가
				</a>
				<div class="grafana-info-box">
					<h5>변수들의 역할</h5>
					<p>변수들은 대쉬보드에 보다 다양하고 인터랙티브한 기능을 제공합니다. 서버나 센서의 이름을 계측 쿼리에 하드코딩하는 것 대신에
					사용할 수 있습니다. 변수들은 대쉬보드 상단에 드롭다운 메뉴에서 선택하여 확인할 수 있습니다.

					
				</div>
			</div>
		</div>

		<div ng-if="variables.length">
			<div class="page-action-bar">
				<div class="page-action-bar__spacer"></div>
				<a type="button" class="btn btn-success" ng-click="setMode('new');"><i class="fa fa-plus" ></i> New</a>
			</div>

			<table class="filter-table filter-table--hover">
				<thead>
					<tr>
						<th>변수</th>
						<th>정의</th>
						<th colspan="5"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="variable in variables">
						<td style="width: 1%">
							<span ng-click="edit(variable)" class="pointer template-variable">
								${{variable.name}}
							</span>
						</td>
						<td style="max-width: 200px;" ng-click="edit(variable)" class="pointer max-width">
							{{variable.query}}
						</td>
						<td style="width: 1%"><i ng-click="_.move(variables,$index,$index-1)" ng-hide="$first" class="pointer fa fa-arrow-up"></i></td>
						<td style="width: 1%"><i ng-click="_.move(variables,$index,$index+1)" ng-hide="$last" class="pointer fa fa-arrow-down"></i></td>
						<td style="width: 1%">
							<a ng-click="duplicate(variable)" class="btn btn-inverse btn-mini">
								복제
							</a>
						</td>
						<td style="width: 1%">
							<a ng-click="removeVariable(variable)" class="btn btn-danger btn-mini">
								<i class="fa fa-remove"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<form ng-if="mode === 'edit' || mode === 'new'" name="ctrl.form">
		<h5 class="section-heading">일반</h5>
		<div class="gf-form-group">
			<div class="gf-form-inline">
				<div class="gf-form max-width-19">
					<span class="gf-form-label width-6">이름</span>
					<input type="text" class="gf-form-input" name="name" placeholder="이름" ng-model='current.name' required ng-pattern="namePattern"></input>
				</div>
				<div class="gf-form max-width-19">
					<span class="gf-form-label width-6">
						Type
						<info-popover mode="right-normal">
							{{variableTypes[current.type].description}}
						</info-popover>
					</span>
					<div class="gf-form-select-wrapper max-width-17">
						<select class="gf-form-input" ng-model="current.type" ng-options="k as v.name for (k, v) in variableTypes" ng-change="typeChanged()"></select>
					</div>
				</div>
			</div>

			<div class="gf-form" ng-show="ctrl.form.name.$error.pattern">
				<span class="gf-form-label gf-form-label--error">템플릿이름은 '__'로 시작할 수 없습니다</span>
			</div>

			<div class="gf-form-inline">
				<div class="gf-form max-width-19">
					<span class="gf-form-label width-6">라벨</span>
					<input type="text" class="gf-form-input" ng-model='current.label' placeholder="추가 디스플레이 이름"></input>
				</div>
				<div class="gf-form max-width-19">
					<span class="gf-form-label width-6">숨기기</span>
					<div class="gf-form-select-wrapper max-width-15">
						<select class="gf-form-input" ng-model="current.hide" ng-options="f.value as f.text for f in hideOptions"></select>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="current.type === 'interval'" class="gf-form-group">
			<h5 class="section-heading">인터벌 옵션</h5>

			<div class="gf-form">
				<span class="gf-form-label width-9">값</span>
				<input type="text" class="gf-form-input" placeholder="이름" ng-model='current.query' placeholder="1m,10m,1h,6h,1d,7d" ng-model-onblur ng-change="runQuery()" required></input>
			</div>

			<div class="gf-form-inline">
				<gf-form-switch class="gf-form" label="자동 옵션" label-class="width-9" checked="current.auto" on-change="runQuery()">
				</gf-form-switch>

				<div class="gf-form">
					<span class="gf-form-label width-9" ng-show="current.auto">
						스텝 카운트 <tip>현재 시간 범위를 어떤 값으로 분할계산할지 정의</tip>
					</span>
					<div class="gf-form-select-wrapper max-width-10" ng-show="current.auto">
						<select class="gf-form-input" ng-model="current.auto_count" ng-options="f for f in [1,2,3,4,5,10,20,30,40,50,100,200,300,400,500]" ng-change="runQuery()"></select>
					</div>
				</div>
				<div class="gf-form">
					<span class="gf-form-label" ng-show="current.auto">
						최소 인터벌 <tip>계산된 값은 이 최소값 아래로 설정할 수 없습니다.</tip>
					</span>
					<input type="text" class="gf-form-input max-width-10" ng-show="current.auto" ng-model="current.auto_min" ng-change="runQuery()" placeholder="10s"></input>
				</div>
			</div>
		</div>

		<div ng-if="current.type === 'custom'" class="gf-form-group">
			<h5 class="section-heading">커스텀 옵션</h5>
			<div class="gf-form">
				<span class="gf-form-label width-14">값은 쉼표로 구분합니다</span>
				<input type="text" class="gf-form-input" ng-model='current.query' ng-blur="runQuery()" placeholder="1, 10, 20, myvalue" required></input>
			</div>
		</div>

		<div ng-if="current.type === 'constant'" class="gf-form-group">
			<h5 class="section-heading">고정 옵션</h5>
			<div class="gf-form">
				<span class="gf-form-label">값</span>
				<input type="text" class="gf-form-input" ng-model='current.query' ng-blur="runQuery()" placeholder="메트릭 접두어"></input>
			</div>
		</div>

		<div ng-if="current.type === 'query'" class="gf-form-group">
			<h5 class="section-heading">쿼리 옵션</h5>

			<div class="gf-form-inline">
				<div class="gf-form max-width-21">
					<span class="gf-form-label width-7">데이터소스</span>
					<div class="gf-form-select-wrapper max-width-14">
						<select class="gf-form-input" ng-model="current.datasource" ng-options="f.value as f.name for f in datasources" required>
							<option value="" ng-if="false"></option>
						</select>
					</div>
				</div>
				<div class="gf-form max-width-22">
					<span class="gf-form-label width-7">
						갱신
						<info-popover mode="right-normal">
							이 변수의 값을 업데이트할 때
						</info-popover>
					</span>
					<div class="gf-form-select-wrapper width-15">
						<select class="gf-form-input" ng-model="current.refresh" ng-options="f.value as f.text for f in refreshOptions"></select>
					</div>
				</div>
			</div>
			<div class="gf-form">
				<span class="gf-form-label width-7">쿼리</span>
				<input type="text" class="gf-form-input" ng-model='current.query' placeholder="메트릭 이름 혹은 태그 쿼리" ng-model-onblur ng-change="runQuery()" required></input>
			</div>
			<div class="gf-form">
				<span class="gf-form-label width-7">
					Regex
					<info-popover mode="right-normal">
						옵션, 만약 부분 추출을 원하면 사용.
					</info-popover>
				</span>
				<input type="text" class="gf-form-input" ng-model='current.regex' placeholder="/.*-(.*)-.*/" ng-model-onblur ng-change="runQuery()"></input>
			</div>
			<div class="gf-form max-width-21">
				<span class="gf-form-label width-7">
					정렬
					<info-popover mode="right-normal">
						이 변수의 값을 어떻게 정렬할지 정의
					</info-popover>
				</span>
				<div class="gf-form-select-wrapper max-width-14">
					<select class="gf-form-input" ng-model="current.sort" ng-options="f.value as f.text for f in sortOptions" ng-change="runQuery()"></select>
				</div>
			</div>
		</div>

		<div ng-show="current.type === 'datasource'" class="gf-form-group">
			<h5 class="section-heading">데이터 소스 옵션</h5>

			<div class="gf-form">
				<label class="gf-form-label width-12">Type</label>
				<div class="gf-form-select-wrapper max-width-18">
					<select class="gf-form-input" ng-model="current.query" ng-options="f.value as f.text for f in datasourceTypes" ng-change="runQuery()"></select>
				</div>
			</div>

			<div class="gf-form">
				<label class="gf-form-label width-12">
					인스턴트 이름 필터
					<info-popover mode="right-normal">
						드롭다운 변수값의 데이터 소스 인스턴스의 Regex 필터.
						빈 값은 모두 선택
						<br><br>
						예: <code>/^prod/</code>

					</info-popover>
				</label>
				<input type="text" class="gf-form-input max-width-18" ng-model='current.regex' placeholder="/.*-(.*)-.*/" ng-model-onblur ng-change="runQuery()"></input>
			</div>
		</div>

		<div ng-if="current.type === 'adhoc'" class="gf-form-group">
			<h5 class="section-heading">옵션</h5>
			<div class="gf-form max-width-21">
				<span class="gf-form-label width-8">데이터소스</span>
				<div class="gf-form-select-wrapper max-width-14">
					<select class="gf-form-input" ng-model="current.datasource" ng-options="f.value as f.name for f in datasources" required ng-change="validate()">
						<option value="" ng-if="false"></option>
					</select>
				</div>
			</div>
		</div>

		<div class="section gf-form-group" ng-show="variableTypes[current.type].supportsMulti">
			<h5 class="section-heading">선택 옵션</h5>
			<div class="section">
				<gf-form-switch class="gf-form"
										label="다양한-값"
					label-class="width-10"
		 tooltip="동시 선택된 다양한 값을 활성"
	 checked="current.multi"
	on-change="runQuery()">
				</gf-form-switch>
				<gf-form-switch class="gf-form"
										label="모든 옵션 포함"
					label-class="width-10"
		 checked="current.includeAll"
	 on-change="runQuery()">
				</gf-form-switch>
			</div>
			<div class="gf-form" ng-if="current.includeAll">
				<span class="gf-form-label width-10">Custom all value</span>
				<input type="text" class="gf-form-input max-width-15" ng-model='current.allValue' placeholder="blank = auto"></input>
			</div>
		</div>

		<div class="gf-form-group" ng-if="current.type === 'query'">
			<h5>값 그룹/태그 (실험 기능)</h5>
			<gf-form-switch class="gf-form" label="활성" label-class="width-10" checked="current.useTags" on-change="runQuery()">
			</gf-form-switch>
			<div class="gf-form last" ng-if="current.useTags">
				<span class="gf-form-label width-10">태그쿼리</span>
				<input type="text" class="gf-form-input" ng-model='current.tagsQuery' placeholder="메트릭 이름 혹은 태그쿼리" ng-model-onblur></input>
			</div>
			<div class="gf-form" ng-if="current.useTags">
				<li class="gf-form-label width-10">Tag values query</li>
				<input type="text" class="gf-form-input" ng-model='current.tagValuesQuery' placeholder="apps.$tag.*" ng-model-onblur></input>
			</div>
		</div>

		<div class="gf-form-group" ng-show="current.options.length">
			<h5>Preview of values</h5>
			<div class="gf-form-inline">
				<div class="gf-form" ng-repeat="option in current.options | limitTo: optionsLimit">
          <span class="gf-form-label">{{option.text}}</span>
        </div>
        <div class="gf-form" ng-if= "current.options.length > optionsLimit">
          <a class="gf-form-label btn-secondary" ng-click="showMoreOptions()">더 보기</a>
        </div>
			</div>
		</div>

		<div class="alert alert-info gf-form-group" ng-if="infoText">
			{{infoText}}
		</div>

		<div class="gf-form-button-row p-y-0">
			<button type="submit" class="btn btn-success" ng-show="mode === 'edit'" ng-click="update();">업데이트</button>
			<button type="submit" class="btn btn-success" ng-show="mode === 'new'" ng-click="add();">추가</button>
		</div>

	</form>
</div>

