<page-header model="navModel"></page-header>

<div class="page-container page-body" ng-form="playlistEditForm">
	<h2 class="page-sub-heading">
		새 기관
	</h2>

	<p class="playlist-description">각 기관은 각각의 데이터 소스 및 설정, 대쉬보드를 보유합니다, 이 정보들은 기관 사이에 공유되지 않습니다. While users may belong to more than one, multiple organization are most frequently used in multi-tenant deployments. </p>

	<form>
		<div class="gf-form-group">
			<div class="gf-form">
				<span class="gf-form-label width-10">기관명</span>
				<input type="text" ng-model="newOrg.name" required class="gf-form-input max-width-21" placeholder="기관명">
			</div>
			<br>
			<div class="gf-form-buttons-row">
				<button type="submit" class="btn btn-success" ng-click="createOrg()">생성</button>
			</div>
		</div>
	</form>
</div>
