<page-header model="navModel"></page-header>

<div class="page-container page-body">
	<h3 class="page-sub-heading">반갑습니다 {{greeting}}.</h3>

	<div class="modal-tagline p-b-2">
		<em>{{invitedBy}}</em> 로부터 초대 되었습니다. <span class="highlight-word">{{contextSrv.user.orgName}}</span></br>아래의 내용을 추가하여 주십시오.:
	</div>

	<form name="inviteForm" class="login-form gf-form-group">
		<div class="gf-form">
			<span class="gf-form-label width-7">이메일</span>
			<input type="email" name="email" class="gf-form-input max-width-21" required ng-model='formModel.email' placeholder="이메일">
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-7">이름</span>
			<input type="text" name="name" class="gf-form-input max-width-21" ng-model='formModel.name' placeholder="이름 (옵션)">
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-7">사용자명</span>
			<input type="text" name="username" class="gf-form-input max-width-21" required ng-model='formModel.username' placeholder="사용자명">
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-7">비밀번호</span>
			<input type="password" name="password" class="gf-form-input max-width-21" required ng-model="formModel.password" id="inputPassword" placeholder="비밀번호">
		</div>

		<div style="margin-left: 7.5rem; width: 254px;">
			<password-strength password="formModel.password"></password-strength>
		</div>

		<div class="gf-form-button-row">
			<button type="submit" class="btn btn-success" ng-click="submit();" ng-disable="!inviteForm.$valid">
				가입
			</button>
		</div>
	</form>
</div>


