<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-info-circle"></i>
			<span class="p-l-1">알람추가</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>


	<div class="modal-content">
		<div class="text-center">
			<img src="public/img/alert_howto_new.png"></img>
		</div>
		<p class="p-a-2 text-center offset-lg-1 col-lg-10"></p>
			알람은 대쉬보드, 그래프패널에서 <strong>알람 탭</strong> 에서 추가할 수 있습니다. 기존 쿼리를 이용하여 알람을 시각화 할 수 있습니다.
			<br> <br>
			대쉬보드를 저장하면 알람 규칙을 보존할 수 있습니다.
			<br>
			<br>
		</p>
	</div>

</div>

